<html lang="en">

<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Confirmation</title>

    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>

    <h3>Customer Confirmation</h3>

    The customer is confirmed : <span th:text="${customer.firstName + ' ' + customer.lastName}" />

    <br><br>

    Free Passes : <span th:text="${customer.freePasses}" />

    <br><br>

    Postal Code : <span th:text="${customer.postalCode}" />
</body>

</html>