<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systems HomePage</title>
</head>
<body>
    <h3>Systems HomePage</h3>
    
    <hr>

    <p>
        We have annual holiday in the Sukrdu!
        <br>
        Keep this holiday a secret, do not tell anyone!
    </p>

    <hr>

    <!-- Add link to homepage -->
     <a th:href="@{/}">Back to Home Page</a>
</body>
</html>