<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registration Form</title>
</head>

<body>
    <h3>Student Registratin Form</h3>

    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

        First name: <input type="text" name="" th:field="*{firstName}" />

        <br><br>

        Last name: <input type="text" name="" th:field="*{lastName}" />

        <br><br>

        Country:
        <select th:field="*{country}">
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>

        <br><br>

        Favorite Language:

        <!-- HardCoded Values -->
        <!-- <input type="radio" name="" th:field="*{favoriteLanguage}" th:value="Go">Go</input>
        <input type="radio" name="" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
        <input type="radio" name="" th:field="*{favoriteLanguage}" th:value="Python">Python</input>
        <input type="radio" name="" th:field="*{favoriteLanguage}" th:value="Javascript">Javascript</input> -->

        <!-- Loading valaues from properties file -->
        <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLanguage: ${languages}"
            th:value="${tempLanguage}" th:text="${tempLanguage}" />

        <br><br>

        Operating Systems:
        <!-- hardcoded values -->
        <!-- <input type="checkbox" th:field="*{favoriteSystems}" th:value="Linux">Linux</input>
        <input type="checkbox" th:field="*{favoriteSystems}" th:value="'Microsoft Window'">Microsoft Window</input>
        <input type="checkbox" th:field="*{favoriteSystems}" th:value="MacOS">MacOS</input> -->

        <!-- Loading values from properties file -->
        <input type="checkbox" th:field="*{favoriteSystems}" th:each="tempSystem: ${systems}" th:value="${tempSystem}"
            th:text="${tempSystem}" />

        <br><br>

        <input type="submit" value="Submit">

    </form>
</body>

</html>